$bgBody: rgb(0, 0, 0);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $bgBody;
}

.carousel {
    width: 300px;
    height: 450px;
    margin: 0 auto;
    perspective: 1000px;
}

.slider {
    position: relative;

    margin-top: 50px;;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
}

.slide {
    $transZ: 300px;

    position: absolute;
    top: 10px;
    left: 10px;

    width: 300px;

    transition: all .3s ease;

    & img {
        width: 300px;
        height: 200px;
    }

    &.slide-1 {
        transform: rotateY(0deg) translateZ($transZ);
    }

    &.slide-2 {
        transform: rotateY(60deg) translateZ($transZ);
    }

    &.slide-3 {
        transform: rotateY(120deg) translateZ($transZ);
    }

    &.slide-4 {
        transform: rotateY(180deg) translateZ($transZ);
    }

    &.slide-5 {
        transform: rotateY(240deg) translateZ($transZ);
    }

    &.slide-6 {
        transform: rotateY(300deg) translateZ($transZ);
    }
}

.prev {
    z-index:10;
    position: absolute;
    top: 0;
    left: 0;

    width:50%;
    height: 100%;

    &:hover {
        & ~ .slider > .slide-1 {
            transform: rotateY(60deg) translateZ(300px);
        }

        & ~ .slider > .slide-2 {
            transform: rotateY(120deg) translateZ(300px);
        }

        & ~ .slider > .slide-3 {
            transform: rotateY(180deg) translateZ(300px);
        }

        & ~ .slider > .slide-4 {
            transform: rotateY(240deg) translateZ(300px);
        }

        & ~ .slider > .slide-5 {
            transform: rotateY(300deg) translateZ(300px);
        }

        & ~ .slider > .slide-6 {
            transform: rotateY(360deg) translateZ(300px);
        }
    }

}

.next {
    z-index:10;
    position: absolute;
    top: 0;
    right: 0;
    
    width:50%;
    height: 100%;


    &:hover {

        & ~ .slider > .slide-1 {
            transform: rotateY(-60deg) translateZ(300px);
        }

        & ~ .slider > .slide-2 {
            transform: rotateY(0deg) translateZ(300px);
        }

        & ~ .slider > .slide-3 {
            transform: rotateY(60deg) translateZ(300px);
        }

        & ~ .slider > .slide-4 {
            transform: rotateY(120deg) translateZ(300px);
        }

        & ~ .slider > .slide-5 {
            transform: rotateY(180deg) translateZ(300px);
        }

        & ~ .slider > .slide-6 {
            transform: rotateY(240deg) translateZ(300px);
        }
    }

} 